# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/